//VARIABLES

//Colors

$white: #E6E6E0;
$grey: #484848;
$dark-grey: #343433;

$light-orange: #fa951f;
$orange: #d4862b;

//Designated Colors :

//links
$link-hover-prim: $orange;
$link-hover-second: $white;

//gallery-widths

$quarter-size: 25vw;
$half-size: 50vw;
