.gallery{
  display:flex;
  flex-flow: row wrap;
  width: 100vw;

  .box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    position: relative;
    hr{
      position: absolute;
      left: 10%;
      top: 78%;
      width: 50px;
      height: 5px;
      border: none;
      background-color: $orange;
    }
    h3{
      position: absolute;
      @include font(1.2em, $weight: bold);
      text-transform: uppercase;
      letter-spacing: 1px;
      left: 10%;
      top: 85%;
    }
    .circle{
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba($grey, 0.8);
      border-radius: 50%;
      height: 100px;
      width: 100px;
      transition: transform 300ms;
      img{
       width: 50px;
       height: 50px;
      }
    }
    &:hover{
      .circle{
        transform: scale(1.2);
      }
    }
  }

  .box1{
    width: $half-size;
    background-image: url("../img/sheep.jpg");
    background-size: cover;
  }
  .box2{
    width: $quarter-size;
    background-image: url("../img/legs.jpg");
    background-size: cover;
  }
  .box3{
    width: $quarter-size;
    background-image: url("../img/girls.jpg");
    background-size: cover;
  }
  .box4{
    width: $quarter-size;
    background-image: url("../img/path.jpg");
    background-size: cover;
  }
  .box5{
    width: $quarter-size;
    background-image: url("../img/pug.jpg");
    background-size: cover;
    background-position: center;
  }
  .box6{
    width: $half-size;
    background-image: url("../img/cliff.jpg");
    background-size: cover;
  }
}

@media screen and (max-width: 760px){
    .gallery{
      flex-flow: column wrap;
      align-items: center;
      justify-content: space-around;
      .box{
        height: 40vh;
        .circle{
          height: 75px;
          width: 75px;
          img{
           width: 45px;
           height: 45px;
          }
        }
      }
      .box1,
      .box2,
      .box3,
      .box4,
      .box5,
      .box6,{
        width: 95vw;
        margin: 10px 10px 0 10px;
        border-radius: 3px;
    }
  }
}
