.header{
  height: 100vh;
  background-image: url("../img/canoe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  .header-text{
    text-align: center;
    order:1;
    margin-bottom: 4em;
    h3{
      text-shadow: 1px 1px $dark-grey;
      @include font(1.5em, $color: $white);
    }
    h1{
      text-shadow: 1px 1px $dark-grey;
      @include font(10em, $color: $white);
    }
  }
  hr{
    order:1;
    width: 200px;
    height: 5px;
    background: $white;
    border: none;
  }
}

@media screen and (max-width: 760px){
  .header{
    .header-text{
      h1{
        @include font(6em, $color: $white);
      }
      h3{
        @include font(1em, $color: $white);
      }
    }
  }
}
@media screen and (max-width: 500px){
  .header{
    height: 75vh;
    .header-text{
      h1{
        @include font(4em, $color: $white);
      }
      h3{
        @include font(1em, $color: $white);
      }
    }
  }
}
