.navbar{
  margin: 0 auto;
  height: 20vh;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.nav-logo{
  text-shadow: 1px 1px $grey;
  flex: 1;
  @include font(2em, $color: $white);
  a:hover{
    color: $link-hover-prim;
  }
}

.nav-basic{
  text-shadow: 1px 1px $grey;
  display: flex;
  align-items: center;
  @include font(14px, $color: $white);
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px;
  &:hover{
    color: $orange;
  }
}

.nav-drop{
  text-shadow: 1px 1px $grey;
  position: relative;
  @include font(14px, $color: $white);
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 4px 4px 0 0;
  .drop-menu{
    display: none;
    width: 275px;
    background-color: $dark-grey;
    border-radius: 0 4px 4px 4px;
    li{
      padding: 10px;
      border-bottom: 1px solid $white;
      &:last-of-type{
        border-bottom: none;
      }
    }
  }
  i{
    font-size: 10px;
  }
  &:hover{
    background-color: $dark-grey;
    .drop-menu{
      display: block;
      position: absolute;
      top: 34px;
      left: 0px;
    }
  }
}
