//Main Navbar

.navbar{
  margin: 0 auto;
  height: 20vh;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.nav-logo{
  text-shadow: 1px 1px $grey;
  flex: 1;
  @include font(2em, $color: $white);
  a:hover{
    color: $link-hover-prim;
  }
}

.nav-basic{
  text-shadow: 1px 1px $grey;
  display: flex;
  align-items: center;
  @include font(14px, $color: $white);
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px;
  &:hover{
    color: $orange;
  }
}

.nav-drop{
  text-shadow: 1px 1px $grey;
  position: relative;
  @include font(14px, $color: $white);
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 4px 4px 0 0;
  z-index: 1;
  .drop-menu{
    display: none;
    width: 275px;
    background-color: $dark-grey;
    border-radius: 0 4px 4px 4px;
    li{
      padding: 10px;
      border-bottom: 1px solid $white;
      &:last-of-type{
        border-bottom: none;
      }
    }
  }
  i{
    font-size: 10px;
  }
  &:hover{
    background-color: $dark-grey;
    .drop-menu{
      display: block;
      position: absolute;
      top: 34px;
      left: 0px;
    }
  }
}

@media screen and (max-width: 1070px){
  .nav-basic,
  .nav-drop{
    display:none;
  }
}

//Secondary Navbar

.navbar-secondary{
  height: 75px;
  width: 100vw;
  display: flex;
  align-items: center;
  background: $dark-grey;
  .nav-sec-main {
    padding-left: 50px;
    display: flex;
    width: 100vw;
    align-items: center;
    @include font(14px, $color: $white);
    letter-spacing: 1px;
    text-transform: uppercase;
    li{
      flex: 1;
      padding: 10px;
      &:nth-of-type(4){
        border-right: 1px solid $white;
      }
      &:nth-of-type(6){
        align-self: flex-end;
        padding-right: 50px;
        text-align: right;
        flex: 10;
      }
    }
  }
}

.nav-sec-drop{
  color: $orange;
  text-shadow: none;
  ul li{
    color: $white;
  }
}

@media screen and (max-width: 1070px){
  .navbar-secondary{
    display: none;
  }
}

//Mobile nav

.nav-bars{
  display:none;
  font-size: 20px;
  color: $white;
  text-shadow: 1px 1px $dark-grey;
  &:hover{
    color: $orange;
  }
}

@media screen and (max-width: 1070px){
  .nav-bars{
    display: block;
  }
}
