*,
*:before,
*:after{
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  background-color: $white;
}

body::-webkit-scrollbar {
    display: none;
}

a{
  text-decoration: none;
  color: $white;
}
